/* For Desktop and Tablet view*/

.menubar {
    display: flex;
    position: relative;
    max-width: 80%;
    max-height: 5%;
    left: 10%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.logo {
    align-self: center;
    color: lightcyan;
    font-size: 150%;
    size: 20%;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    user-select: none;
    position: relative;
}

.navicons{
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 20%;
    right: 10%;
    user-select: none;
    align-self: center;
}

.navigator {
    text-decoration: none;
    color: orange;
    font-size: 120%;
    font-family: 'Segoe UI';
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.navigator-current {
    text-decoration: none;
    color: lightgray;
    font-size: 130%;
    font-family: 'Segoe UI';
    font-weight: 600;
    cursor: default;
}

.navigator:hover {
        font-size: 14px;
        color: yellow;
}

.light-mode{
    color: black;
    position: relative;

}
.dark-mode{
    color: white;
    position: relative;
}

/* For Mobile view*/

.menubar-m{
    position: relative;
    display: flex;
    max-width: 90%;
    left: 5%;
    justify-content: space-between;
    padding: 20px;
}

.logo-m {

    position: relative;
    align-self: center;
    color: lightcyan;
    font-size: 120%;
    size: 20%;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    user-select: none;
}

.menu-button{
    position: relative;
    color: white;
    align-self: center;
    size: 20%;
    opacity: 1;
}

.close-button{
    color: white;
    position: relative;
}

.navicons-m{
    position: absolute;
    display: flex;
    flex-direction: column;
    user-select: none;
    align-items: flex-end;
    right: 0%;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    gap: 10px;
    z-index: 1;
}

.navicons-ms{
    position: absolute;
    display: flex;
    flex-direction: column;
    user-select: none;
    align-items: flex-end;
    right: 0%;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    gap: 10px;
    z-index: 1;
    background-color: black;
    border: 2px solid gray;
    border-radius: 20px;
}

.navigator-m{
    text-decoration: none;
    color: gold;
    font-size: 14px;
    font-family: 'Segoe UI';
    cursor: pointer;
}

.navigator-current-m{
    text-decoration: none;
    color: gray;
    font-size: 16px;
    font-family: 'Segoe UI';
    cursor: default;
}