@if((resize.windowSize$ | async)! > 720){
    <div ngClass="menubar">
   
        <div ngClass="logo">RAMCHANDRU</div>
        <div ngClass="navicons" >
            <a id="{{item.name}}" (click)="goto(item.id)" [ngClass]="currentPage(item.url) ? 'navigator-current' : 'navigator'" *ngFor="let item of NavigationItems">
                {{item.name}}
            </a>
            <!-- <div (click)="magic()" [ngClass]="enabled ? 'light-mode' : 'dark-mode'" >Enable Magic</div> -->
        </div>
    
    </div>
}
@else{

    <div ngClass="menubar-m" >

        <div ngClass="logo-m">RAMCHANDRU</div>
        
        <div #dropdownContainer [ngClass]="show ? 'navicons-ms' : 'navicons-m'" (focusout)="onFocusOut($event)" tabindex="0">
            <mat-icon ngClass="close-button" svgIcon="menu-icon" (click)="showMenu()"></mat-icon>
            @if(show){
                <a id="{{item.name}}" (click)="goto(item.id)" [ngClass]="currentPage(item.url) ? 'navigator-current-m' : 'navigator-m'" *ngFor="let item of NavigationItems">
                    {{item.name}}
                </a>
                <!-- <div (click)="magic()" [ngClass]="enabled ? 'light-mode' : 'dark-mode'" >Enable Magic</div> -->
            }
        </div>
    </div>
}
