<div ngClass="home-container">
    <div ngClass="profile-container">
        
        <img [ngClass]="(resize.windowSize$ | async)! > 720 ? 'image-icon1' : 'image-icon2'" [src]="githubAvatarUrl" alt="profile"/>
        <div ngClass="intro-container1">
            <h2>Hi, I'm "Your Name"</h2>
            <p><span style="color:cornflowerblue"> "Your role 1" </span> & <span style="color:tomato"> "your role 2" </span></p>
            <div>Follow On</div>
            <div ngClass="intro-container2">
                <app-social ></app-social>
            </div>
            <p>Be sure to check out more..</p>
        </div>
    </div>
    <!-- Change !data to data-->
    @if(!data) 
    {
        <div ngClass="info-container">
            <div style="color: white; font-size: large;padding-bottom : 10px;">Hello Friend, </div>
            <div style="gap : 3px;padding-left: 5%; font-size:medium">
                "Type your description here"
                
            </div>
            
        </div>
    }
</div>